<footer>
    <div class="footer-container exchange-container">
        <div class="main-info">
            <div class="base-intro">
                <h5>FinX</h5>
                <p>FinX 股票交易所。</p>
            </div>
            <div class="quick-link">

                <div class="link-section">
                    <h5 class="section-header">关于</h5>
                    <span class="collapse-indicator">x</span>
                    <ul class="section-content" style="display: block;">
                        <li><a href="#">FinX介绍</a></li>
                        <li><a href="#">股票交易所使用</a></li>
                        <li><a href="#">自动化交易说明</a></li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="extend-info">
            <div class="additional-links">
                <span class="title">友情链接:</span>
                <a class="additional-link" target="_blank" href="www.nju.edu.cn">南京大学</a>
                <a class="additional-link" target="_blank" href="#">FinX</a>
                <a class="additional-link" target="_blank" href="#">FinX</a>
            </div>
            <div class="service-info">
                交易时间：9:30 ~ 16:00 (UTC+08:00)
            </div>
        </div>
        <div class="copyright-info">
            <a class="link-left" href="#">使用条款</a>
            <a class="link-ritght" href="#">隐私政策</a>
            <p class="company"><span class="short-split-line">|</span>FinX<span class="symbol">©</span>2017-2018</p>
        </div>
    </div>
</footer>
