<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<title>	首页 | FinX</title>



</head>
<body>

<section class="headerwrap ">
    <header>
		<div  class=" header">
 			<div class="top">
        {% if request.user.is_authenticated %}
            <div class="wp">
             <div class="fl"><p>服务电话：<b>23333333</b></p></div>
			<div class="personal">

                            <dl class="user fr">
                                <dd>{{ user.username }}</dd>
                                
                            </dl>
                            <div class="userdetail">
                            	<dl>
	                                
	                                <dd>
	                                    <h2>{{ user.nick_name }}</h2>
	                                    <p>{{ user.username }}</p>
	                                </dd>
                                </dl>
                                <div class="btn">
	                                <a class="personcenter fl" href="{% url 'user:user_info' %}">进入个人中心</a>
	                                <a class="fr" href="{% url 'logout' %}">退出</a>
                                </div>
                            </div>
                        </div>
            </div>
    {% else %}
                    				<div class="wp">
					<div class="fl"><p>服务电话：<b>23333333</b></p></div>
					<!--登录后跳转-->


                      <a  href="{% url "register" %}">注册</a>
                    <a  href="{% url 'login'%}?next={{ request.path }}">登录</a>




				</div>
{% endif %}
			</div>






			</div>
    </header>
</section>



</body>
</html>