<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Fin Exchange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade.css' %} ">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script>
        $.getJSON(
            'http://127.0.0.1:8001/trade/1001/chart_data/',
            function (data) {

                Highcharts.chart('container', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'stockI price over time'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                            'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Price'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'Price',
                        data: data
                    }]
                });
            }
        );
    </script>

    <style type="text/css" data-glamor=""></style>
</head>

<body>
{% include '_nav.html' %}
<div data-react-class="index" data-react-props="{}">
    <div class="container-fluid exchange-container">
        <div class="row">
            <div class="app">
                <div></div>
                <div class="col-xs-24 col-md-24">
                    <div class="row top-space">
                        <div class="col-xs-24 col-sm-24 col-md-17 right-space">
                            <div class="market-info panel panel-default">
                                <div class="row market-ticker">
                                    <div class="col-xs-24 col-sm-5 market-ticker__symbol"><p
                                            class="market-ticker__symbol-desktop"><span
                                            class="market-name">{{ current_stock.name }}</span><span
                                            class="currency-description"></span>
                                    </p>
                                        <p class="market-ticker__symbol-mobile">{{ current_stock.name }}<i
                                                class="fa fa-sort-down"
                                                aria-hidden="true"></i>
                                        </p>
                                        <p class="start-mobile"></p></div>
                                    <div class="col-xs-12 col-sm-4 ticker-last">
                                        <p class="market-ticker__title">最新价</p>
                                        <p class="market-ticker__content">
                                            <span class="main-price">
                                                <span class="text-up">{{ current_stock.price }}</span>
                                            </span>
                                            <span class="market-ticker__content--graysmall">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="sub-info">
                                        <div class="col-xs-12 col-sm-2 ticker-change">
                                            <p class="market-ticker__title">24H涨跌</p>
                                            <p class="market-ticker__content text-down">-1.88%</p>
                                        </div>
                                        <div class="price-content">
                                            <div class="price-info">
                                                <div class="col-xs-12 col-sm-4 ticker-high">
                                                    <p class="market-ticker__title">24H最高价</p>
                                                    <p class="market-ticker__content">
                                                        <span class="">12.88</span>
                                                    </p>
                                                </div>
                                                <div class="col-xs-12 col-sm-4 ticker-low">
                                                    <p class="market-ticker__title">24H最低价</p>
                                                    <p class="market-ticker__content">
                                                        <span class="">12.22</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-5 ticker-volume">
                                            <p class="market-ticker__title">24H成交量</p>
                                            <p class="market-ticker__content">
                                                <span class="">233.33</span>
                                                <span class="market-ticker__content--gray mobile-nuit"> </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="candlestick">
                                    <div id="tv_chart_container" class="candlestick__chart-container">
                                        <div id="container"
                                             style="min-width: 310px; height: 300px; margin: 0 auto"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-24 col-md-7 left-space market-tickers-space">
                            <div class="panel panel-default market-tickers market-hidden-event">
                                <div class="market-tickers__mobile-title">
                                    <span class="close-icon"><i class="fa fa-angle-left"></i></span>
                                    <span class="title">股票名</span>
                                </div>
                                <div class="panel-heading" id="tickers-heading">
                                    <div class="panel-heading__left">
                                        <button type="button" class="favorite-select-btn"><i class="fa fa-star"></i>自选
                                        </button>
                                        <button type="button" class="quote-unit-select-btn active-quote-unit">股票1
                                        </button>
                                        <button type="button" class="quote-unit-select-btn null">股票2</button>
                                    </div>
                                    <div class="panel-heading__right search-bar">
                                        <input class="form-control market-tickers__input" type="text">
                                        <i class="fa fa-search search-icon"></i>
                                    </div>
                                </div>
                                <ul class="general-flex-list markets-lists">
                                    <li class="markets-item markets-lists-header">
                                        <span class="width-35">股票名</span><span class="width-45">最新价`</span><span
                                            class="width-20 text-right">涨跌</span>
                                    </li>
                                    <div class="scroll-block scroll-block__markets" id="market-tickers-div">
                                        {% for stock in stocks %}
                                            <li class="markets-item {% if current_stock.id == stock.id %}current-market{% endif %}"
                                                id="market-btceth">
                                                <span class="width-5"></span>
                                                <a href="{% url 'trade:trade-stock' stock.stock_code %}">
                                                <span class="width-30">
                                                    <span class="base-unit">{{ stock.name }}</span><span class="grey"> </span>
                                                </span>
                                                    <span class="width-45">
                                                    <span class="price">
                                                        <span class="">{{ stock.price }}</span>
                                                    </span>
                                                </span>
                                                    <span class="width-20 text-right">
                                                    <span class="text-down">-1.61%</span>
                                                </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li class="markets-item hoverable" id="market-eoseth">
                                            <span class="width-5"></span>
                                            <a href="#">
                                                <span class="width-30">
                                                    <span class="base-unit">测试股票</span>
                                                    <span class="grey"> </span>
                                                </span>
                                                <span class="width-45">
                                                    <span class="price">
                                                        <span class="">8.88</span>
                                                    </span>
                                                </span>
                                                <span class="width-20 text-right">
                                                    <span class="text-up">1.06%</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="end-item">——— End ———</li>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-24 col-md-12 right-space">
                            <div class="order-book panel panel-default">
                                <div class="bid-book">
                                    <div class="panel inner-panel">
                                        <div class="panel-heading">
                                            <span class="panel-heading__left panel-title heading-space">买单</span>
                                        </div>
                                        <div class="panel-body right-line">
                                            <ul class="general-flex-list order-header">
                                                <li class="order-item">
                                                    <span class="width-25">价格</span>
                                                    <span class="width-38 text-right">数量({{ current_stock.name }})</span>
                                                    <span class="width-auto text-right">总价</span></li>
                                            </ul>
                                            <ul class="general-flex-list order-items">
                                                {% for order in buy_orders %}
                                                    <li class="order-item hoverable">
                                                        <i class="hidden fa fa-caret-left" aria-hidden="true"></i>
                                                        <span class="width-25">
                                                        <span class="text-up">{{ order.price }}</span>
                                                    </span>
                                                        <span class="width-38 text-right">{{ order.qty }}</span>
                                                        <span class="width-auto text-right">
                                                        <span class="">{% widthratio order.price 1 order.qty %}</span>
                                                    </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ask-book">
                                    <div class="panel inner-panel">
                                        <div class="panel-heading"><span
                                                class="panel-heading__left panel-title heading-space">卖单</span>
                                        </div>
                                        <div class="panel-body left-line">
                                            <ul class="general-flex-list order-header">
                                                <li class="order-item">
                                                    <span class="width-25">价格 ({{ current_stock.name }})</span>
                                                    <span class="width-38 text-right">Amount({{ current_stock.name }})</span>
                                                    <span class="width-auto text-right">总价</span>
                                                </li>
                                            </ul>
                                            <ul class="general-flex-list order-items">
                                                {% for order in sell_orders %}
                                                    <li class="order-item hoverable">
                                                        <i class="hidden fa fa-caret-right" aria-hidden="true"></i>
                                                        <span class="width-25">
                                                        <span class="text-down">{{ order.price }}</span>
                                                    </span>
                                                        <span class="width-38 text-right">{{ order.qty }}</span>
                                                        <span class="width-auto text-right">
                                                        <span class="">{% widthratio order.price 1 order.qty %}</span>
                                                    </span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-md-12 left-space mobile-order-form">
                            <div class="order-form panel panel-default">
                                <div class="panel inner-panel order-form__part order-form-bid">
                                    <div class="panel-heading form-heading">
                                        <span class="panel-heading__left panel-title heading-space heading-bid">买入 {{ current_stock.name }}</span>
                                        <span class="panel-heading__right balance">{{ current_stock.name }}
                                            <span class="unit">可用:</span>0
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form"
                                              action="{% url 'trade:buy' current_stock.stock_code %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <div class="form-group custom-input-group price-input">
                                                <div class="input-group main-line">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="price"
                                                           data-precision="8"
                                                           value="{{ current_stock.price }}"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">买价</span>
                                                    <span class="order-form__text order-form__text--right">CNY</span>
                                                </div>
                                                <div class="sub-line">
                                                </div>
                                            </div>
                                            <div class="form-group custom-input-group">
                                                <div class="input-group main-line ">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="qty"
                                                           data-precision="8"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">数量</span>
                                                    <span class="order-form__text order-form__text--right">{{ current_stock.name }}</span>
                                                </div>
                                            </div>
                                            <div class="percentage-wrap">
                                            </div>
                                            <div class="form-group custom-input-group">
                                                <div class="input-group main-line ">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="orderTotal"
                                                           value="0"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">金额</span>
                                                    <span class="order-form__text order-form__text--right">CNY</span>
                                                </div>
                                            </div>
                                            <div class="form-error-block"></div>
                                            <div class="form-group main-btn-group">
                                                {% if request.user.is_authenticated %}
                                                    <button class="btn btn-primary btn-block btn-bid" type="submit">
                                                        buy
                                                    </button>
                                                {% else %}
                                                    <a class="btn btn-primary btn-block btn-bid"
                                                       href="{% url 'user:login' %}">
                                                        Login </a>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="panel inner-panel order-form__part order-form-ask">
                                    <div class="panel-heading form-heading">
                                        <span class="panel-heading__left panel-title heading-space heading-ask">卖单</span>
                                        <span class="panel-heading__right balance">{{ current_stock.name }}
                                            <span class="unit">可用:</span>0
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <form class="form-horizontal" role="form"
                                              action="{% url 'trade:sell' current_stock.stock_code %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}">
                                            <div class="form-group custom-input-group price-input">
                                                <div class="input-group main-line">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="price"
                                                           data-precision="8"
                                                           value="{{ current_stock.price }}"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">价格</span>
                                                    <span class="order-form__text order-form__text--right">CNY</span>
                                                </div>
                                                <div class="sub-line">
                                                </div>
                                            </div>
                                            <div class="form-group custom-input-group">
                                                <div class="input-group main-line ">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="qty"
                                                           data-precision="8"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">数量</span>
                                                    <span class="order-form__text order-form__text--right">{{ current_stock.name }}</span>
                                                </div>
                                            </div>
                                            <div class="percentage-wrap">
                                            </div>
                                            <div class="form-group custom-input-group">
                                                <div class="input-group main-line ">
                                                    <input step="any"
                                                           autocomplete="off"
                                                           name="orderTotal"
                                                           value="0"
                                                           class="order-form__input form-control text-right"
                                                           type="text">
                                                    <span class="order-form__text order-form__text--left">金额</span>
                                                    <span class="order-form__text order-form__text--right">CNY</span>
                                                </div>
                                            </div>
                                            <div class="form-error-block"></div>
                                            <div class="form-group main-btn-group">
                                                {% if request.user.is_authenticated %}
                                                    <button class="btn btn-primary btn-block btn-ask" type="submit">
                                                        sell
                                                    </button>
                                                {% else %}
                                                    <a class="btn btn-primary btn-block btn-ask"
                                                       href="{% url 'user:login' %}">
                                                        Login </a>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row bottom-space">
                        <div class="col-xs-24 col-md-6 right-space">
                            <div class="trades panel panel-default">
                                <div class="panel-heading">
                                    <span class="panel-heading__left panel-title">最近成交</span>
                                    <span class="panel-heading__right">
                                        <a class="default-link" href="#"
                                           target="_blank">我的成交</a>
                                    </span>
                                </div>
                                <div class="panel-body trade-history">
                                    <ul class="general-flex-list trade-item order-header">
                                        <li class="trade-item">
                                            <span class="width-30">时间</span>
                                            <span class="width-30 text-right">价格</span>
                                            <span class="width-auto text-right">数量</span></li>
                                    </ul>
                                    <ul class="general-flex-list trade-items">
                                        {% for order in trade_history %}
                                            <li class="trade-item"><span
                                                    class="width-30">{{ order.transaction_time }}</span>
                                                <span class="width-30 text-right">
                                                <span class="text-up">{{ order.price }}</span>
                                            </span>
                                                <span class="width-auto text-right">
                                                <span class="">{{ order.qty }}</span>
                                            </span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-24 col-md-18 left-space">
                            <div class="my-orders panel panel-default">
                                <div class="empty-row">没有未完成委托</div>
                                <div class="panel-heading">
                                    <span class="panel-heading__left panel-title">当前委托</span>
                                    <span class="panel-heading__right"><span class="hide-other-markets">
                                        <input value="on" type="checkbox"> 隐藏其他股票</span>
                                        <a class="default-link"
                                           href="#"
                                           data-confirm="Are you sure you want to cancel all open orders?">撤销所有委托
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body user-orders-history">
                                    <ul class="hidden-xs general-flex-list order-header">
                                        <li class="my-order-item history-header">
                                            <span class="my-order-item__timestamp">时间</span>
                                            <span class="my-order-item__market">股票</span>
                                            <span class="my-order-item__type text-center">类型</span>
                                            <span class="my-order-item__price text-right">价格</span>
                                            <span class="my-order-item__amount text-right">数量</span>
                                            <span class="my-order-item__total text-right">总额</span>
                                            <span class="my-order-item__actions text-right"></span>
                                        </li>
                                    </ul>
                                    <ul class="general-flex-list scroll-block history-lists"></ul>
                                </div>
                            </div>
                            <div class="order-history__container panel panel-default">
                                <div class="empty-row">没有历史委托</div>
                                <div class="panel-heading">
                                    <span class="panel-heading__left panel-title">近期历史委托</span>
                                    <span class="hidden-xs panel-heading__right">
                                        <a class="default-link" href="#"
                                           target="_blank">点击查看完成列表
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-body recently-orders-history">
                                    <a class="default-link mobile-history-link"
                                       href="#" target="_blank">Click to see
                                        all history</a>
                                    <ul class="hidden-xs general-flex-list order-header">
                                        <li class="order-history__item history-header">
                                            <span class="order-history__timestamp">时间</span>
                                            <span class="order-history__market">股票</span>
                                            <span class="order-history__type text-right">类型</span>
                                            <span class="order-history__average-price text-right">平均价格</span>
                                            <span class="order-history__price text-right">价格</span>
                                            <span class="order-history__origin-volume text-right">数量</span>
                                            <span class="order-history__total text-right">总额</span>
                                            <span class="order-history__status text-right">状态</span></li>
                                    </ul>
                                    <ul class="hidden-xs general-flex-list scroll-block history-lists"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include '_footer.html' %}
</html>
